.wp-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wp-btn {
  font-size: 1.5rem;
  width: 3.5rem;
  height: 3.5rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 50%;
  position: fixed;
  bottom: 2rem;
  right: 3rem;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.wp-btn .wp-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1150px) {
  .wp-btn {
    right: 1.5rem;
    width: 2.8rem;
    height: 2.8rem;
  }
}
